<div class="navbar-padding">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
             <img src="./img/goals/longterm-01.png"  class="img-circle img-alteration"tooltip="Set a goal that will take a couple years to achieve, this goal can be anything just make sure you revisit and visualize it every morning and night."
             placement="bottom">
            <div class="panel panel-inverse">
                <div class="panel-body">
                    <my-longterm></my-longterm>
                 </div>
            </div>
        </div>
    </div>
</div>