<div class="goals">
<div class="navbar-padding " id="goals">
  <br>
  <div class="row">
    <div class="col-sm-4">
      
        <img src="./img/goals/yearly-01.png"  class="img-square img-alteration"tooltip="Set goals that you would like to complete by the end of the year"
        placement="bottom">
        <br>
      <div class="panel panel-inverse">
       
        <div class="panel-body">
          <my-yearly></my-yearly>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      
        <img src="./img/goals/monthly-01.png"  class="img-square img-alteration"tooltip="Set goals that you would like to complete by the end of the month."
        placement="bottom">
        <br>
      <div class="panel panel-inverse">
        
        <div class="panel-body">
          <my-monthly></my-monthly>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
       
        <img src="./img/goals/weekly-01.png"  class="img-square img-alteration"tooltip="Set goals that you would like to complete by the end of the week."
        placement="bottom">
        <br>
      <div class="panel panel-inverse">
       
        <div class="panel-body">
           <my-week></my-week>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
