<div class="background-about" id="about">
    <div class="max-width">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="text-center headertext">About</h1>
                <p>

Night 45 is all about helping you achieve your goals one night at a time. We do this by allowing you to set large goals and small goals. These small goals can be short term goals you would like to achieve or small steps for something bigger such as your large goals.  The great thing about Night 45, is that it makes it easy for you to add your goals and track them over a long period of time.
<br><br>
So Sign up today and achieve your goals one night at a time.

                </p>
            </div>
            <div class="col-sm-6">
                <h1 class="text-center headertext">Features</h1>
                <div class="carousel slide" id="screenshot-carousel" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target ="#screenshot-carousel" data-slide-to="0" class="active"></li>
                        <li data-target ="#screenshot-carousel" data-slide-to="1"></li>
                        <li data-target ="#screenshot-carousel" data-slide-to="2"></li>
                        <li data-target ="#screenshot-carousel" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="./img/features/addgoal-01.png" (click)="imgclicked('img1')" alt="Add Goal">
                            <div class="carousel-caption">
                            
                        </div>
                        </div>
                        <div class="item">
                            <img src="./img/features/statistics-01.png" (click)="imgclicked('img2')"alt="Statistics">
                        </div>
                        <div class="item">
                            <img src="./img/features/calendar-01.png" (click)="imgclicked('img3')"alt="Calendar">
                        </div>
                        <div class="item">
                            <img src="./img/features/nightly-01.png" (click)="imgclicked('img4')"alt="Nightly">
                        </div> 

                        <a href="#screenshot-carousel" class="left carousel-control" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a href="#screenshot-carousel" class="right carousel-control" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>   
                    </div>
                </div>
            </div>
        
    </div>
</div>            
<!-- modal for img -->
<div  class="modal fade"  bsModal #images="bs-modal"   tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center modal-lg">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" (click)="images.hide()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <img *ngIf="tempimg =='img1'" src="./img/features/addgoal-01.png" width="100%" height="100%"> 
                    <img *ngIf="tempimg =='img2'" src="./img/features/statistics-01.png" width="100%" height="100%"> 
                    <img *ngIf="tempimg =='img3'" src="./img/features/calendar-01.png" width="100%" height="100%"> 
                    <img *ngIf="tempimg =='img4'" src="./img/features/nightly-01.png" width="100%" height="100%"> 
             
                    
                </div>
            </div>
        </div>
    </div>
</div>



