 <div  class="modal fade" id='password'  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>
                     <h4 class="modal-title" id="myModalLabel">Forgot Password</h4>

                </div>
                <form method="post" role="form" #formData='ngForm' (ngSubmit)="onSubmit(formData)"> 
                <div class="modal-body">
                            <div *ngIf ="!success">
                            <div class="form-group">
                                <label for="email">Email <p class=errortext>{{emailerror}}</p></label>
                                <div class="input-group center">
                                    <span class="input-group-addon" id="email"><span class={{emailicon}}></span></span>
                                    <input type="email" class="form-control" name="email" placeholder="Enter Your Email" value="" aria-describedby="basic-addon1" (ngModel)="email" required>
                                </div>
                            </div>
                            </div>
                            <div *ngIf = "success">
                            <div class="form-group">
                                <p>Please check your email for reset link, Thank you</p>
                            </div>
                            </div>
                                               
                </div>
                
                <div class="modal-footer">
                    <div *ngIf = "!success">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary"  [disabled]="!formData.valid">Reset</button>
                    </div>
                    <div *ngIf = "success">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>