<div id='achievements' class="column-padding">
    <br>
    <div class="row">
      
        <div class="col-sm-4 col-sm-offset-2">
            <img src="./img/achievements/positive-01.png"  class="img-rounded img-alteration"tooltip="List the positives in your life, that you are greatful for."
        placement="bottom">
            <br>
        <div class="panel panel-inverse">
           
            <div class="panel-body">
                <my-positivity></my-positivity>
            </div>
        </div>
        </div>
           <div class="col-sm-4 " >
               <img src="./img/achievements/achievements-01.png"  class="img-rounded img-alteration"tooltip="List positive things that occured today, that made you feel happy,excited,proud or etc.." placement="bottom">
      
            <br>
        <div class="panel panel-inverse">
           
            <div class="panel-body">
                <my-accomplishments></my-accomplishments>
            </div>
        </div>
        </div>
    </div>
</div>